<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>学IT - 后台管理系统</title>
    <?php include('./view/common/style.html') ?>
</head>
<body>

<!-- 侧边栏 -->
<?php include('./view/common/aside.html') ?>
<!-- 主体 -->
<div class="main">
    <div class="container-fluid">
        <!-- 头部 -->
        <?php include('./view/common/header.html') ?>

        <div class="body teacher" id="teacherInfo">
            <!-- 挖个坑 -->

            <!-- 面包屑 -->
            <ol class="breadcrumb">
                <li><a href="javascript:;">讲师管理</a></li>
                <li class="active">添加讲师</li>
            </ol>
            <div class="teacher-add">
                <form id="teacherForm" class="form-horizontal col-xs-offset-2">
                    <script type="text/template" id="teacherEdit">
                        <div class="form-group">
                            <label for="tcName" class="col-xs-3 control-label">姓名</label>
                            <div class="col-xs-4">
                                {{if tc_id}}
                                <input type="hidden" name="tc_id" value="{{tc_id}}">
                                {{/if}}
                                <input data-required name="tc_name" value="{{tc_name}}" type="text" id="tcName" class="form-control input-sm"
                                       placeholder="讲师名称">
                            </div>
                            <div class="col-xs-2" id="tcNameInfo"></div>
                        </div>
                        <div class="form-group">
                            <label for="tcPass" class="col-xs-3 control-label">密码</label>
                            <div class="col-xs-4">
                                <input data-required type="password" id="tcPass" name="tc_pass" class="form-control input-sm" value="{{tc_pass}}">
                            </div>
                            <div class="col-xs-2" id="tcPassInfo"></div>
                        </div>
                        <div class="form-group">
                            <label data-required for="tcJoin" class="col-xs-3 control-label">入职时间</label>
                            <div class="col-xs-4">
                                <input name="tc_join_date" id="tcJoin" value="{{tc_join_date}}" type="text" data-provide='datepicker'
                                       class="datepicker form-control input-sm">
                            </div>
                            <div class="col-xs-2" id="tcJoinDateInfo"></div>
                        </div>
                        <div class="form-group">
                            <label for="tcType" class="col-xs-3 control-label">类型</label>
                            <div class="col-xs-2">
                                <select name="tc_type" id="tcType" class="form-control input-sm">
                                    {{if tc_type!=0}}
                                    <option value="1">讲师</option>
                                    <option value="0">管理员</option>
                                    {{else}}
                                    <option value="0">管理员</option>
                                    <option value="1">讲师</option>
                                    {{/if}}
                                </select>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="col-xs-3 control-label">性别</label>
                            <div class="col-xs-4" id="tcGender">
                                <label class="radio-inline" for="male">
                                    <input type="radio" name="tc_gender" id="male" value="0" {{if tc_gender!=1}}checked{{/if}}> 男
                                </label>
                                <label class="radio-inline" for="female">
                                    <input type="radio" name="tc_gender" id="female" value="1" {{if tc_gender==1}}checked{{/if}}> 女
                                </label>
                            </div>
                        </div>
                        <div class="form-group">
                            <div class="col-xs-7">
                                <input type="submit" id="add" class="btn btn-success btn-sm pull-right" value="{{if tc_id}}编辑{{else}}添加{{/if}}">
                            </div>
                        </div>
                    </script>

                </form>
            </div>

        </div>
    </div>
</div>
<?php include('./view/common/script.html') ?>
<script type="text/javascript">
    require(['/public/js/teacher-add.js']);
</script>
</body>
</html>